.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000000;
    width: 200px;
    height: 200px;
}

.grid div {
    height: 20px;
    width: 20px;
}

.snake {
    background-color: #59982f;
    border-radius: 5px;
}

.apple {
    background-image: url("apple.png");

}